.container{
  background: linear-gradient(220.50deg, #555555 0%, #181818 100%);
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.title{
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  margin: 1rem 0 1rem 0;
}

.inputContainer{
  height: 3rem;
  width: 20rem;

  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.input{
  width: 75%;
  border-radius: 1rem;
  padding-left: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
}

.addTodo{
  background-color: black;
  width: 15%;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.textAddTodo{
  color: white;
  margin-top: 0vh;
  margin-bottom: 0vh;
  font-size: 5vh;
}

.todosContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.todo{
  max-width: 100%;
  min-height: 2.5rem;

  display: flex;
  align-items: center;
  justify-content: space-around;

  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;

  border: none;
  border-radius: 1rem;
  background-color: #FFF;
}

.todoText{
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  color: black;
  margin-right: 1rem;
}

.todoButton {
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
  background-color: red;
  color: white;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.message {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  color: white;
}

.links {
  width: 18rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}

.link {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Kanit', sans-serif;
  color: white;
  text-decoration: none;
  background: none;
  border: none;
}

.link:hover {
  color: purple;
  transition: all .5s ease-in-out;
}