.container{
  background: linear-gradient(220.50deg, #555555 0%, #181818 100%);
  min-height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  margin: 1rem 0 1rem 0;
}